@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "./styles/prime-overrides.scss";

html,
body {
  font-size: 14px;
}

.flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-gap {
  gap: 1rem !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-gap-sm {
  gap: 0.5rem !important;
}

.margin-l-auto {
  margin-left: auto !important;
}

.align-items-center {
  align-items: center !important;
}
